html{
    background: darkslategray;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
*{
    margin: 0;
    padding: 0;
}
.p1{
    background-image: url("magrao.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 5vw;
    height: 5vh;
    position: absolute;
    left:0vw;
    top: 0vw;
}
#mapa{
    white-space: pre-line;
}
.cenario{
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    background: black;
    width: 5vw;
    height: 5vh;
    position: absolute;
    z-index: -1;
}
input{
    background: rgba(128, 128, 128, 0.541);
    width: 10vw;
    height: 10vh;
}
input.right{
    position: absolute;
    left:20%;
    top:80%;
}
input.left{
    position: absolute;
    left:0%;
    top: 80%;
}
input.up{
    position: absolute;
    left:10%;
    top: 70%;
}
input.down{
    position: absolute;
    left:10%;
    top: 80%;
}